<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <br />

  <%= f.label :ido_id %>
  <%= f.text_field :ido_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
