<% if current_user %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<%= render :partial => 'post', :object => @post %>

<section class="comments">
  <h3>Comments</h3>
  <%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <% unless current_user %>
  <%= f.text_field :author_email, :class => "autobox", :value => "Your email"  %>
  <% else %>
  <%= f.hidden_field :author_email, :value => current_user.email  %>
  <% end %>
  <%= f.text_area :body, :size=>"100x8", :class => "autobox", :value=> "Enter Your Comment..." %>
  <%= f.hidden_field :user_id, :value => (current_user) ? current_user.id : 0 %>
  <%= f.hidden_field :post_id, :value => @post.id %>

  <div class="actions">
    <%= f.submit :class => "button hot" %>
  </div>

  <% end %>

  <% if @comments.count > 0 %>
  <div class="comment_list">
  <%= render :partial => "comments/comment", :collection => @comments %>
  </div>
  <% end %>

</section>
