<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>
<p> by <%= @post.user %></p>

<%= @post.render_body %>

<h3>Comments</h3>
<% @comments.each do |comment| %>
<p>

<% unless @displayed.include?(comment) %>
<h4>
<% comment.ancestors.length.times do %>
!
<% end %>
<%= comment.id %>.) [<%= comment.parent_id %>] <%= comment.display_name %> (<%= comment.display_email %>)</h4><br />
<%= comment.body %><br />

<% comment.children.each do |comment| %>
<% @displayed << comment %>
<h4>
<% comment.ancestors.length.times do %>
!
<% end %>
<%= comment.id %>.) [<%= comment.parent_id %>] <%= comment.display_name %> (<%= comment.display_email %>)</h4><br />
<%= comment.body %>
</p>
<% end %>
<% end %>
<% end %>
<br />

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
