<!doctype html>  

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <%= render "shared/head" %>
</head>

<body id="dashboard_body" class="<%= controller.controller_name %>_<%= controller.action_name %>">
  <div id="root">
     <%= render "/shared/header"%>
    <% if flash[:warning] || flash[:notice] %>
      <div class="flash">
        <% unless flash[:warning].nil? %> 
          <p><%=raw flash[:warning] %></p>
        <% end %>
        <% unless flash[:notice].nil? %>
          <p><%=raw flash[:notice] %></p>
        <% end %>
      </div>
    <% end %>
    <section id="main" class="clearfix">
      <div id="content">
	<%= yield %>
      </div>
    </section>
  </div> <!-- end of #ro0t -->
  
  <footer id="footer">
    <%= render "shared/footer" %>
  </footer>
  
  <%= render "shared/javascripts" %>

</body>
</html>
